body {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;

    margin: 0; 
    padding: 0; 
    width: 100%; 
    box-sizing: border-box; 
}

main{
    max-width: 100%;
    display: flex; 
    align-items: center;
}


.info2 {

    flex-wrap: wrap; 
    gap: 20px; 
    padding: 10px;
    border: 1px solid #ccc; 
}


input {
    border-radius: 6px; 
    background: transparent; 
    outline: none; 
}



.n3{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    max-width: 100%;
    padding: 10px;
    text-align: center;
}

.v1 textarea{
    width: 100%;
    height: 500px;
    max-width: 100%;
}
.v2 textarea{
    width: 100%;
    height: 500px;
    max-width: 100%;
}

.v3 textarea{
    width: 100%;
    height: 1100px;
    max-width: 100%;
}

.v4 textarea{
    width: 100%;
    height: 500px;
    max-width: 100%;
}

.v5 textarea{
    width: 100%;
    height: 500px;
    max-width: 100%;
}

.v1, .v2, .v3, .v4, .v5{
    flex: auto; 
    border: 1px solid #ccc; 
    padding: 20px; 
}
.pap, .pep{
    flex: auto; 
}

.container2 {

    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 100%;

    
}







.ficha2{
    
    flex: auto; 
    max-width: 90%; 
    border: 3px solid #ccc; 
 

 border-collapse: collapse; 
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
   
}


input[type="number"] {
    border: 2px solid #ccc;
    text-align: center;
    border-radius: 5px;
    color: #000;

}


input[type="number"]:hover {
    border-color: #007BFF; 
}

input[type="text"] {
    border: 2px solid #ccc; 
    border-radius: 5px; 
    color: #000; 
    box-sizing: border-box; 
}


input[type="text"]:hover {
    border-color: #007BFF; 
}


input[type="text"]:focus {
    border-color: #007BFF; 
    outline: none; 
}




#conte {
    width: 99%; 
    height: 100px; 
    resize: none; 

}


#conte::-webkit-scrollbar {
    width: 9px; 
}

#conte::-webkit-scrollbar-thumb {
    background-color: #020202; 
    border-radius: 10px; 
}

#conte::-webkit-scrollbar-thumb:hover {
    background-color: #020066; 
}

#conte::-webkit-scrollbar-track {
    background: none; 
}


textarea{
    width: 99%; 
    height: 100px; 
    resize: none; 
    background: linear-gradient(to bottom, #57a4c2 50%, #e0e0e0 50%);
    background-size: 100% 32px; 
}


