body, header, h1, h2, p, ul {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  
  }
  
  body {
    background-color: rgba(29, 29, 29, 0.74);
    flex-direction: column;
    color: aliceblue;
    text-align: left;
    max-width: 100%;
    flex-flow: row wrap;
  }

  header {
    text-align: center;
    background-color: rgb(0, 37, 37);
    width: 100%;
    margin: 0;
    flex-flow: row wrap;

  }
  
  header li a {
    font-size: 2.2vw;
  }

  main {
    flex: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 79.5vh;
    max-width: 100%;
  }
  

    #aaa {
        color: rgb(9, 255, 0);
    }
    #aaa:hover {
        position: relative;
        top: -9px;
    }
    
    #bbb {
        color: rgb(255, 0, 43);
    }
    #bbb:hover {
        position: relative;
        top: -9px;
    }
    
    #ccc {
        color: rgb(0, 89, 255);
    }
    #ccc:hover {
        position: relative;
        top: -9px;
    }

  nav {
    display: flex; 
    justify-content: center; 
  }
  
  nav ul {
    display: flex; 
    list-style: none;
    flex-flow: row wrap;
    text-align: center;

  }

  
  nav li {
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-right: 40px;
  }
  nav li:last-child {
    margin-right: 0; 
}

    #ele, #eto, #avi, #hil {
        font-family: "Silkscreen", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    #eto {
        color: rgba(236, 14, 125, 0.986);
        text-decoration: none;
        text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.5);
        transition: color 0.3s, transform 0.9s;

    }
    #eto:hover {
        color: blueviolet;
        transform: scale(1.05); 
    }

   
    .larger-letter {
      font-size: 10vw;
         
        font-weight: bold; 
      }
    #hil {

        color: rgb(255, 255, 255);
        text-shadow: 10px 0px 4px rgba(0, 0, 0, 0.404);
        font-size: 3vw;
        flex-flow: row wrap;
      }

footer {

  width: 100%;
  background-color: #1d1d1d;
  color: white;
  text-align: center;
  padding-block: 20px;
}

